<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ILK EJS Dosyasi</title>
  </head>
  <body>
    <h1>Baslik :<%= baslik %></h1>
    <p>Yazinin Icerigi</p>

  </body>
</html>
