.red {
  color: #e63946;
}

.background {
  background-color: #fcbf49;
}

/* tag ile ilgili ise tag kullanin*/
body {
  margin: 20%
}

.box {
  width: auto;
  height: 150px;
  background-color: #ffffff;
  color: #e63946;
  /*margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px; */
  margin: 20px 10% 0 10%;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.box2 {
  width: auto;
  height: 150px;
  color: #ffffff;
  background-color: #028090;
  margin: 0 10% 0 10%;
  /* 0(ust alt) 10%(sag sol) olarak da yazilabilir */
  padding: 30px 20px;
}
img{
  width: 150px;
  height:150px;

}
.picture{
  margin-right: 30px;

}
.picture2{
  margin-left: 30px;
}
